<a href="https://colab.research.google.com/github/choisooyeon007/hello-world/blob/master/changes_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving changes.csv to changes.csv

In [3]:
df=pd.read_csv('changes.csv')
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        date  time      dong average 17-9  pop 20 pop(20-avg)
0        101     0  11110515       15,420  14,474      -6.14%
1        101     0  11110530       22,591  22,805       0.95%
2        101     0  11110540        5,012   5,285       5.44%
3        101     0  11110550       11,782  15,553      32.01%
4        101     0  11110560       21,067  19,085      -9.41%
...      ...   ...       ...          ...     ...         ...
915835   331    23  11740650       32,165     NaN    -100.00%
915836   331    23  11740660       30,282     NaN    -100.00%
915837   331    23  11740685       58,931     NaN    -100.00%
915838   331    23  11740690        9,786     NaN    -100.00%
915839   331    23  11740700       33,814     NaN    -100.00%

[915840 rows x 6 columns]