<a href="https://colab.research.google.com/github/choisooyeon007/hello-world/blob/master/Corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [31]:
!ls "/gdrive/My Drive"/'Colab Notebooks'

'변화율(1-2월) (1)'   changes.csv  'Untitled0 (1).ipynb'   Untitled0.ipynb

In [0]:
import pandas as pd

In [33]:
pd.read_csv("changes.csv")

         date 17  date  time  ...  average 17-9   pop 20  pop(20-avg)
0       20170101   101     0  ...       15,420   14,474        -6.14%
1       20170101   101     0  ...       22,591   22,805         0.95%
2       20170101   101     0  ...        5,012    5,285         5.44%
3       20170101   101     0  ...       11,782   15,553        32.01%
4       20170101   101     0  ...       21,067   19,085        -9.41%
...          ...   ...   ...  ...           ...      ...          ...
483733  20170217   217    12  ...       16,648   17,262         3.69%
483734  20170217   217    12  ...       39,664   42,108         6.16%
483735  20170217   217    12  ...       24,474   27,341        11.72%
483736  20170217   217    12  ...       19,401   17,171       -11.49%
483737  20170217   217    12  ...           NaN      NaN          NaN

[483738 rows x 10 columns]