<a href="https://colab.research.google.com/github/choisooyeon007/hello-world/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import Perceptron

from sklearn.datasets import load_iris
iris = load_iris()

In [62]:
print(iris.data.shape)
print(iris.target.shape)
print(iris.feature_names)
print(iris.target_names)

(150, 4)
(150,)
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

In [70]:
dfd=pd.DataFrame(iris.data,columns=[iris.feature_names])
print(dfd)
dft=pd.DataFrame(iris.target,columns=['class'])
print(dft)
pd.merge(dfd,dft,right_on=['class'],left_index=True)

    sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
0                 5.1              3.5               1.4              0.2
1                 4.9              3.0               1.4              0.2
2                 4.7              3.2               1.3              0.2
3                 4.6              3.1               1.5              0.2
4                 5.0              3.6               1.4              0.2
..                ...              ...               ...              ...
145               6.7              3.0               5.2              2.3
146               6.3              2.5               5.0              1.9
147               6.5              3.0               5.2              2.0
148               6.2              3.4               5.4              2.3
149               5.9              3.0               5.1              1.8

[150 rows x 4 columns]
     class
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

     (sepal length (cm),)  (sepal width (cm),)  ...  (petal width (cm),)  class
0                     5.1                  3.5  ...                  0.2      0
1                     5.1                  3.5  ...                  0.2      0
2                     5.1                  3.5  ...                  0.2      0
3                     5.1                  3.5  ...                  0.2      0
4                     5.1                  3.5  ...                  0.2      0
..                    ...                  ...  ...                  ...    ...
145                   4.7                  3.2  ...                  0.2      2
146                   4.7                  3.2  ...                  0.2      2
147                   4.7                  3.2  ...                  0.2      2
148                   4.7                  3.2  ...                  0.2      2
149                   4.7                  3.2  ...                  0.2      2

[150 rows x 5 columns]